body {
    /* color: white; */
}

a {
    font-family: 'Noto Serif', serif;
}

p{
    font-family: 'Noto Serif', serif;
}

.bg-carola{
    background-color: #656a7b;
}

.size-title{
    font-size: 33px;
}

.size-text{

    font-size: 15px;
}