body {
    /* color: white; */
}

a {
    font-family: 'Noto Serif', serif;
}

p{
    font-family: 'Noto Serif', serif;
}

.bg-carola{
    background-color: #656a7b;
}

.size-title{
    font-size: 33px;
}

.size-text{

    font-size: 15px;
}
.mt-carola{
    margin-top: 130px;
}

.text-carola2{
    font-family: 'Montserrat', sans-serif;
}

.text-carola1{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}